{namespace MenuBarDropDown}

/**
 * This renders the component's whole content.
 */
{template .render}
{@param language: ?}
// {print $language}
// {if $language}
//         <li class="menu-bar-drop-font-color"><a href="#">$language</a></li>
// {/if}
    <li><a class="menu-bar-drop-font-color" href="#">{$language}</a></li>
    // <li class="menu-bar-font-color"><a class="menu-bar-drop-font-color" href="#">German</a></li>
{/template}
