{namespace MenuBar}

/**
 * This renders the component's whole content.
 */
{template .render}
// {@param languages: ?}
<div>
    <nav class="navbar navbar-default menu-bar-fill">
    <div class="container-fluid menu-bar-fill">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle menu-bar-font" data-toggle="dropdown" href="#">English
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        // {call MenuBarDropDown.render }
                        //     {param languages : 'French','German' /}
                        // {/call}
                        // {foreach $language in $languages}
                            {call MenuBarDropDown.render} 
                                {param language: 'French' /}
                            {/call}
                            {call MenuBarDropDown.render} 
                                {param language: 'German' /}
                            {/call}
                        // {/foreach}
                        
                    </ul>
                </li>
            </ul>
            <ul  class="nav navbar-nav">
                <li class="dropdown menu-bar-fill-top_bar_info_switcher">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">London Office
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        // {call MenuBarDropDown.render }
                        //     {param languages : 'French','German' /}
                        // {/call}
                        // {foreach $language in $languages}
                            {call MenuBarDropDown.render} 
                                {param language: 'Newyork Office' /}
                            {/call}
                        // {/foreach}
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    </nav>
</div>
{/template}
