.icon-text-icon-img {
    width: 15px;
    height: 15px;
}

.icon-text-icon-wrapper {
    margin-right: 10px;
}

.icon-text-main-wrapper {
    margin-top: 10px;
}

.icon-text-text{
    font-size: 13px;
    color: grey;
}