{namespace IconWithText}

/**
 * This renders the component's whole content.
 */
{template .render}
	{@param? iconSrc:string}
	{@param text:string}
	{@param? iconClass:string}
	<div class="icon-text-main-wrapper">
		<span class="icon-text-icon-wrapper">
			{if $iconSrc}
				<img src="{$iconSrc}" class="icon-text-icon-img">
			{/if}

			{if $iconClass}
				<i class="{$iconClass}"></i>
			{/if}

		</span>

		<span class="icon-text-text-wrapper">
			<span  class="icon-text-text">{$text}</span>
		</span>
	</div>
{/template}
