{namespace IconWithText}

/**
 * This renders the component's whole content.
 */
{template .render}
	{@param iconSrc:string}
	{@param text:string}
	<div class="icon-text-main-wrapper">
		<span class="icon-text-icon-wrapper">
			<img src="{$iconSrc}" class="icon-text-icon-img">
		</span>

		<span class="icon-text-text-wrapper">
			<span  class="icon-text-text">{$text}</span>
		</span>
	</div>
{/template}
