{namespace HeaderTextWithSeperator}

/**
 * This renders the component's whole content.
 */
{template .render}
	{@param header:string}
	<div class="headerTextWithSeperator-main-wrapper">
			<div class=" headerTextWithSeperator-text">{$header}</div>
	</div>
{/template}
