{namespace MenuBar}

/**
 * This renders the component's whole content.
 */
{template .render}
{@param languages: ?}
{@param offices: ?}
{@param? officeData: ?}
{@param? handleOffice: ?}
<div>
    <nav class="navbar navbar-default menu-bar-fill">
    <div class="container-fluid menu-bar-fill">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle menu-bar-font" data-toggle="dropdown" href="#">English
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {if $languages}
                            {foreach $language in $languages}
                                {call MenuBarDropDown.render}
                                    {param language: $language /}
                                {/call}
                            {/foreach}
                        {/if}
                            // {call MenuBarDropDown.render} 
                            //     {param language: 'French' /}
                            // {/call}
                            // {call MenuBarDropDown.render} 
                            //     {param language: 'German' /}
                            // {/call}
                        // {/foreach}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right menu-bar-fill-top_bar_info_switcher">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">London Office
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                             {foreach $office in $offices}
                                {call MenuBarDropDown.render}
                                    {param office: $office /}
                                    {param events: ['handleOfficeChange' : $handleOffice] /}
                                {/call}
                            {/foreach}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {if $officeData}
                    <li><a class="menu-bar-fill menu-bar-font" href="#">{$officeData.contact}</a></li>
                    <li><a class="menu-bar-fill menu-bar-font" href="#">{$officeData.address}</a></li>
                    <li><a class="menu-bar-fill menu-bar-font" href="#">{$officeData.time}</a></li>
                {/if}
            </ul>
        </div>
    </div>
    </nav>
</div>
{/template}
