.menu-bar-fill {
    border-color: #002e5b;
    background-color: #002e5b;
    border-radius:0px;
    font-family: Open Sans;
    font-size: 14px;
}
.menu-bar-font{
    color: #fff !important;
    font-family: Open Sans;
}

.menu-bar-fill-top_bar_info_switcher{
    position: relative;
    float: right;
    border-color: #fde428;
    background-color: #fde428;
    border-radius:0px;
    font-family: Open Sans;
    font-size: 14px;
}

