.news-box-img{
 width: 220px;
 height: 150px;
}

.news-box-header-wrapper {
    margin-top: 15px;
}

.news-box-header {
    font-weight: bold;
    color: #002e5b;
    font-size: 18px;
}

.news-box-seperator {
    margin-top: 20px;
}