.margin-top-20 {
    display: block;
    margin-top: 20px;
}
.request-section{
background-color: #222222;
color: white;
}

.request-section-wrapper{
    margin-top: 50px;
    margin-bottom: 70px;
}

.form-header-text {
    font-family: Open Sans;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.form-select {
    border-radius: 0;
    border: 1px solid #cacaca;
    height: 49px;
    line-height: 1;
    background: #cacaca;
    font-size: 13px;
}
.form-select:focus{
    background-color: white;
}
.form-select option{
    padding: 20px;
}

.form-input{
    font-size: 13px;
    line-height: 18px;
    color: #222;
    background: #cacaca;
    border: 0;
    box-shadow: none;
    outline: 0;
    padding: 16px 30px 15px;
    border-radius: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    box-sizing: border-box !important;
    width: 100%;
    display: block;
    height: 49px;

}
.margin-top-30{
    display: block;
    margin-top: 30px;
}

.first-name-wrapper{
    margin-top: 30px;
}

.submit-button{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    background-color: #002e5b;
    border: 0px;
}

.submit-button:hover{
    background-color: goldenrod;
    color: #222222
}

.arrow{
    margin-left: 30px;
    color: gold;
}

.arrow:hover{
    margin-left: 30px;
    color: #222222;
}

.industries-section {
    background: #f2f2f2;
    padding-bottom: 70px;
    padding-top: 53px;
}

.industries-section .industries-section-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #002e5b
}
.industries-section .industries-section-title::after {
    margin: 9px 0 0;
    margin-left: auto;
    margin-right: auto;
    content: '';
    display: block;
    width: 35px;
    height: 6px;
    background: #fde428;
    border-radius: 3px;
}

.industry-card {
    padding: 28px;
}

.industry-card:hover {
    background: #fff
}

.industry-card .card-title {
    font-size: 18px;
    font-weight: 700;
    color: #002e5b
}


.testimonials-section {
    background: #fff;
    padding-bottom: 70px;
    padding-top: 53px;
}

.testimonials-section .testimonials-section-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #002e5b
}
.testimonials-section .testimonials-section-title::after {
    margin: 9px 0 0;
    margin-left: auto;
    margin-right: auto;
    content: '';
    display: block;
    width: 35px;
    height: 6px;
    background: #fde428;
    border-radius: 3px;
}

.testimonial-card {
    padding: 28px;
}

.testimonial-card:hover {
    background: #fff
}

.testimonial-card .card-title {
    font-size: 18px;
    font-weight: 700;
    color: #002e5b
}

.testimonial-card .card-info {
    font-weight: 600;
    color: #777;
    line-height: 18px;

}


.stats-section {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 53px !important;
    padding-top: 110px !important;
    padding-bottom: 81px !important;
    background-image: url(http://consulting.stylemixthemes.com/wp-content/uploads/2015/12/Fotolia_95381323_Subscription-1.jpg?id=1279) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed;
    background-position: 50% 0 !important;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transition: opacity .5s ease;
    overflow: hidden;
    
    left: -61.5px;
    box-sizing: border-box;
    padding-left: 61.5px;
    padding-right: 61.5px;
}

.stats-section .stats-section-title {
    font-size: 45px;
    color: #ffffff;
    line-height: 45px;
    text-align: left;
}
.stats-section .stats-section-title mark {
    color: #fde428;
    background: transparent;
    font-size: 45px;
    line-height: 45px;
    text-align: left;
}

.stats-card {
    padding: 28px;
}

.stats-card .card-body .card-title {
    line-height: 36px;
    padding: 17px 0 0;
    font-weight: 700;
    color: #fff;
    margin: 0 0 14px;
    font-size: 50px;
    letter-spacing: 0;
    white-space: nowrap;
}

.stats-card .card-body .card-text {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.officeLocationFuildWrapper{
    background: #002e5b;
    margin-top: -30px;
}

.officeLocationConatiner{
    color:white;
    font-weight: bold;
    border-right: 0.5px grey solid;
    margin-bottom: 32px;
    margin-top:32px;
}

.icon-with-text-news-box{
    color: #fde428;
    font-size: 15px;
}
