.menu-bar-drop-color{
    border-color: #002e5b ;
    background-color: #002e5b ;
}

.menu-bar-drop-color .menu-bar-drop-font-color, .menu-bar-drop-color .menu-bar-drop-font-color:hover, .menu-bar-drop-color .menu-bar-drop-font-color:focus{
    color: #fff ;
}